@reference "tailwindcss";

@utility container {
    @apply 2xl:max-w-[1280px];
    margin-inline: auto;
    padding-inline: 2rem;
}

@utility bg-striped {
    background-image: repeating-linear-gradient(
        315deg,
        transparent 0px,
        var(--border) 1px,
        transparent 1px,
        transparent 10px,
        color-mix(in oklab, var(--border) 50%, transparent) 11px,
        transparent 11px,
        transparent 20px
    );
}

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* shimmer animation */

@keyframes shimmer-animation {
    0% {
        background-position: var(--shimmer-start-x, -1000px) 0;
    }
    100% {
        background-position: var(--shimmer-end-x, 1000px) 0;
    }
}
@theme {
    --animate-shimmer: shimmer-animation 2s linear infinite;
}

@utility shimmer-with-pulse {
    animation:
        shimmer-animation 2s linear infinite,
        var(--animate-pulse, pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite);
}

@utility animate-shimmer {
    --_shimmer-center: var(--shimmer-center, 0.65); /* 0.5 centered */
    --_shimmer-width: var(--shimmer-width, 200px);
    --_shimmer-color: var(
        --shimmer-color,
        color-mix(in oklab, var(--color-opposite) 3%, transparent 100%)
    );

    --_reference: 50%;
    --_shimmer-half-width: calc(var(--_shimmer-width) / 2);
    --_lower-breakpoint: calc(var(--_reference) - var(--_shimmer-half-width));
    --_upper-breakpoint: calc(var(--_reference) + var(--_shimmer-half-width));
    --_main-breakpoint: calc(var(--_lower-breakpoint) + var(--_shimmer-width) * var(--_shimmer-center));

    background-image: linear-gradient(
        110deg,
        transparent 0%,
        transparent var(--_lower-breakpoint),
        var(--_shimmer-color) var(--_main-breakpoint),
        transparent var(--_upper-breakpoint),
        transparent 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
}
