@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import '../../../../tooling/tailwind/theme.css'; */
@import '@kit/tailwind-config/theme.css';

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-family: 'Inter', sans-serif;
    }
}
