@reference "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    ::selection {
        @apply bg-selection text-selection-foreground;
    }
    body {
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }

    a:active,
    button:active {
        @apply opacity-60 md:opacity-100;
    }
}
