@reference "tailwindcss";

.ai-message-display-essential-conversation .aui-user-message-root:not(:last-child),
.ai-message-display-essential-conversation .aui-assistant-message-root .aui-assistant-message-footer,
.ai-message-display-essential-conversation .aui-assistant-message-root:not(:last-child),
.ai-message-display-essential-conversation .aui-assistant-message-content > *:not([data-type="ai-tool"],.aui-md),
/* hide all non ai tool elements after an ai tool */
.ai-message-display-essential-conversation .aui-assistant-message-content > [data-type="ai-tool"] ~ *:not([data-type="ai-tool"]),
/* hide all mardown children except the last one */
.ai-message-display-essential-conversation .aui-assistant-message-content > .aui-md > *:not(:last-child),
/* hide all assistant message root children except the content */
.ai-message-display-essential-conversation .aui-assistant-message-root:not(:last-child) > *:not(.aui-assistant-message-content),
.ai-message-display-essential-conversation + .aui-thread-viewport-spacer {
    display: none;
}


/* @keyframes ai-messages-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}


.transition-ai-messages.ai-auto-fade-out-messages {
    animation: ai-messages-fade-out 0.4s ease-in-out 6s forwards;
} */

/* .transition-ai-messages .aui-user-message-root,
.transition-ai-messages .aui-assistant-message-root,
.transition-ai-messages .aui-assistant-message-root > *,
.transition-ai-messages .aui-assistant-message-content > *,
.transition-ai-messages .aui-assistant-message-content > .aui-md > *,
.transition-ai-messages + .aui-thread-viewport-spacer  {
    transition: all 0.3s ease-in-out;
} */

.ai-message-display-essential-conversation .aui-assistant-message-root > .aui-assistant-message-content {
    margin-inline: 0px;
}

.ai-message-display-essential-conversation .aui-assistant-message-content > .aui-md > *:last-child{ 
    margin-top: 0px
}

.ai-message-display-essential-conversation .aui-assistant-message-content > [data-type="ai-tool"],
.ai-message-display-essential-conversation > div:last-child,
.ai-messages > div:last-child {
    margin: 0px
}

.ai-message-display-essential-conversation .aui-assistant-message-content > .aui-md {
/* .ai-message-display-essential-conversation .aui-assistant-message-content > .aui-md > *:last-child { */
    @apply shadow-md border rounded-xl bg-background px-4 py-2 mt-2;
    /* @apply shadow-md border backdrop-blur-sm rounded-xl bg-background/10 px-4 py-2; */
}

.ai-message-display-essential-conversation .aui-assistant-message-content > [data-type="ai-tool"] {
    @apply shadow-md mt-2;
}